MARIADB_IMAGE=mariadb:11.8.6@sha256:78a5047d3ba33975f183f183c2464cc7f1eab13ec8667e57cc9a5821d6da7577
MWAF_MANAGER_IMAGE=ghcr.io/fhwang0926/m-waf-manager:latest
MWAF_BUNDLE_IMAGE=ghcr.io/fhwang0926/m-waf-manager:latest
MWAF_DEV_DB_BIND=127.0.0.1
MWAF_DEV_DB_PORT=3306
MWAF_DEV_ADMIN_BIND=127.0.0.1
MWAF_DEV_AGENT_BIND=127.0.0.1
MWAF_DB_NAME=mwaf
MWAF_DB_USER=mwaf
MWAF_ADMIN_BIND=127.0.0.1
MWAF_ADMIN_PORT=8443
MWAF_AGENT_BIND=0.0.0.0
MWAF_AGENT_PORT=10443
MWAF_MANAGER_HOST=localhost
MWAF_AGENT_PUBLIC_URL=
MWAF_EVENT_RETENTION=720h
MWAF_POLICY_SYNC_INTERVAL=15m
