MWAF_E2E_MANAGER_IMAGE=ghcr.io/fhwang0926/m-waf-manager:latest
MWAF_E2E_ADMIN_PORT=8443
MWAF_E2E_AGENT_PORT=10443
MWAF_E2E_APACHE_PORT=18080
MWAF_E2E_NGINX_PORT=18081
MWAF_E2E_WEB_BIND=127.0.0.1
MWAF_E2E_ADMIN_USERNAME=mwaf-e2e-admin
MWAF_E2E_ADMIN_DISPLAY_NAME=M-WAF E2E Administrator
MWAF_E2E_ENTERPRISE_NAME=mwaf-e2e
